---
name: "SIT test-cases CI"
on: [push, pull_request]
jobs:
  check:
    name: Run python code checkers
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Update
        run: sudo apt-get update
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: python -m pip install tox
      - name: Check code with flake8
        run: make check-flake8
      - name: Check code with black
        run: make check-black
      - name: Check code with mypy
        run: make check-mypy
